// Element: Bullets navigation
.bullets
	display: block
	width: 100%
	position: absolute
	left: 0
	bottom: 40px
	text-align: center
	z-index: 10
	> span
		display: inline-block
		width: 18px
		height: 18px
		border: 2px solid #fff
		border-radius: 100%
		margin: 0 10px
		cursor: pointer
		&.is-active, &.swiper-pagination-bullet-active
			background: #fff
		&:hover
			background: rgba(white, 0.65)
	// &.l-green > span
	// 	border-color: $gray-soft
	// 	&:hover, &.swiper-pagination-bullet-active
	// 		border-color: $green
	// 	&.swiper-pagination-bullet-active
	// 		background: $green
